<div th:fragment="modal-delete-user" id="modalDeleteUser" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body text-center">

                <div class="mb-3">
                    <label for="id_delete" class="form-label fw-semibold">ID</label>
                    <input type="text" id="id_delete"  class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="firstName_delete" class="form-label fw-semibold">First name</label>
                    <input type="text" id="firstName_delete"  class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="lastName_delete" class="form-label fw-semibold">Last name</label>
                    <input type="text" id="lastName_delete"  class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="age_delete" class="form-label fw-semibold">Age</label>
                    <input type="number" id="age_delete"  class="form-control" disabled/>
                </div>
                <div class="mb-3">
                    <label for="email_delete" class="form-label fw-semibold">Email</label>
                    <input type="email" id="email_delete"  class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="roles1_delete" class="form-label fw-semibold">Roles</label>
                    <select id="roles1_delete" name="roles1" multiple class="form-select" disabled></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnDeleteUser" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

