.border-light-secondary {
    border-color: #dcdcdc;
}

.form-container {
    width: 30%;
}

.sidebar {
    width: 20%;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.active-link {
    color: white !important;
    background-color: blue;
}

.sidebar-nav {
    text-decoration: none;
}

.input-login::placeholder {
    font-size: 0.875rem;
    color: #6c757d;
}

.card-login {
    max-width: 400px;
    border: none !important;
}