<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <style>
        input::placeholder {
            font-size: 0.875rem;
            color: #6c757d;
        }

        .card {
            max-width: 400px;
            border: none !important;
        }
    </style>
    <!-- WebJars Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}">
</head>
<body>

<div class="container mt-5">
    <!-- Ссылка на главную страницу -->
    <div class="mb-3">
        <a href="/" class="btn btn-link">Go Back</a>
    </div>

    <div th:if="${param.error}" class="alert alert-danger">
        <p>Invalid username or password.</p>
    </div>

    <div class="card p-4 mx-auto">
        <h3 class="text-start mb-4">Please sign in</h3>
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email address" />
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sing in</button>
            </div>
        </form>
    </div>
</div>

<!-- WebJars Bootstrap JS -->
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>