<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">

    <div class="mb-3">
        <a href="/" class="btn btn-link">Go Back</a>
    </div>

    <h1 class="mb-4">Register New User</h1>

    <!-- Блок для отображения ошибок -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/register}" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="${user.firstName}" required />
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="${user.lastName}" required />
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" th:field="${user.age}" required min='0'/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="${user.email}" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="${user.password}" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Roles</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="role_user" name="roles1[]" value="ROLE_USER" />
                <label class="form-check-label" for="role_user">USER</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="role_admin" name="roles1[]" value="ROLE_ADMIN" />
                <label class="form-check-label" for="role_admin">ADMIN</label>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>
    </form>
</div>

<!-- Подключение Bootstrap JS -->
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
